<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form-template>
      <div class="template-header">
        Create account
      </div>
      <div class="template-body">
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" autocomplete="off" novalidate>
          <!--USER FIRST NAME-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('firstName')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="firstName" formControlName="firstName" type="text" placeholder="First Name"
                     class="form-control"/>
              <span *ngIf="!validateField('firstName')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('firstName')" class="help-block text-left">
              <span *ngIf="registerForm.get('firstName').hasError('required')">First name required.</span>
            </div>
          </div>
          <!--USER LAST NAME-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('lastName')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name" class="form-control"/>
              <span *ngIf="!validateField('lastName')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('lastName')" class="help-block text-left">
              <span *ngIf="registerForm.get('lastName').hasError('required')">Last name required.</span>
            </div>
          </div>
          <!--USER EMAIL-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('email')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
              <span *ngIf="!validateField('email')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('email')" class="help-block text-left">
              <span *ngIf="registerForm.get('email').hasError('required')">Email address required.</span>
              <span *ngIf="registerForm.get('email').hasError('email')">Invalid email address.</span>
            </div>
          </div>
          <!--USER PASSWORD-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('password')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" id="password" formControlName="password" class="form-control"
                     placeholder="Password">
              <span *ngIf="!validateField('password')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('password')" class="help-block text-left">
              <span *ngIf="registerForm.get('password').hasError('required')">Password required.</span>
              <span *ngIf="registerForm.get('password').hasError('minlength')">Password invalid. Password must be at least six characters long.</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary col-lg-12" [disabled]="registerForm.invalid">Submit</button>
        </form>
      </div>
    </form-template>
  </div>
</div>