<modal [animation]="true" #deleteUserFormModal>
  <div *ngIf="user">
    <modal-header [show-close]="true">
      <b>Do you want to delete this user?</b>
    </modal-header>
    <modal-body>
      <p>
        <label>Full name:</label> {{user.secondName}} {{user.firstName}}
      </p>
      <p>
        <label>Role:</label> {{user.role.name}}
      </p>
    </modal-body>
    <modal-footer>
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary col-md-5 pull-left" (click)="deleteUser($event)">Delete
        </button>
        <button type="submit" class="btn btn-danger col-md-5 pull-right" data-dismiss="modal">Close</button>
      </div>
    </modal-footer>
  </div>
</modal>
